/* css reset */
@charset "utf-8";
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, img, a,
ol, ul, li,
form, label,
table, tbody, tfoot, thead, tr, th, td,
article,footer, header, menu, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  list-style: none;
  text-decoration: none;
  vertical-align: baseline;
}

/* 共通CSS */
html {
    font-family: sans-serif;
    min-height: 100%;
    position: relative;
}

.container {
   max-width: 1100px;
   margin: 0 auto;
   padding: 0 15px; 
}

a:hover,
.btn:hover {
    opacity: 0.6;
    cursor: pointer;
}

.btn {
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
}

.btn-sm {
    padding: 3px 10px;
    font-size: 13px;
    margin: 0;
    border-radius: 5px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 20px;
}

.wrapper {
    width: 70%;
    padding: 80px 0 30px;
    margin: 0 auto;
}

    .wrapper-title {
        text-align: center;
        margin-bottom: 30px;
    }

    .wrapper-title p {
        color: #4c586f;
    }

    .last-wrapper {
        margin-bottom: 80px;
    }

.wrapper-body{
    text-align: center;
}
        
.news-list,
form {
    width: 80%;
    margin: 0 auto;
}
        
.btn-submit {
    background-color: #4c586f;
    border: 1px solid #4c586f;
    color: #fff;
}

.btn-gray {
    border: 1px solid #3e3e3b;
    color: #3e3e3b;
}

.btn-blue {
    background-color: #4a80d6;
    border: 1px solid #4a80d6;
    color: #fff;
    margin: 0 ;
}

.btn-red {
    border: 1px solid red;
    color: red;
    padding: 5px 10px;
    font-size: 15px;
}
        

/* header */
header {
    height: 60px;
    background-color: #4c586f;
    position: fixed;
    z-index: 1; 
    width: 100%;
}

    /* スマホ用メニューを非表示 */
    .sp-menu,
    .cart {
        display: none;
    }

    #logo {
        width: 120px;
    }

    .header-logo a{
        float:left;
        line-height: 60px;
        padding-right: 15px;
        font-size: 30px;
    }

    .header-logo a:hover{
        opacity: 1;
    }

    .menu a {
        line-height: 60px;
        color: #fff;
    }

    .menu-left a{
        float: left;
        padding-right: 15px;
    }

    .menu-right a{
        float: right;
        padding-right: 15px;
    }

/* top-img */
.top-img {
    height: 600px;
    background-image: url("img/bg.png");
    background-size: cover;
    background-position: center;
    position: relative;
}

.top-text {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: #fff;
    text-align: center;
}

/* news */
.news-list li {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid;
}

    .news-list a {
        color: #3e3e3b;
    }

/* service */
.boxs {
    display: flex;
}

    .box {
        width: 50%;
        margin: 20px 10px;
        text-align: center;
    }

    .box img {
        width: 100%;
    }

/* about */
.about-table {
    text-align: left;
    width: 100%;
}

    .about-table th,td {
        padding: 10px 0;
    }
    .about-table th {
        width: 30%;
        vertical-align: top;
    }

    iframe {
        width: 100%;
    }

/* contact */
form  {
    text-align: center;
}
    
.form-group {
    margin-bottom: 20px;
    text-align: left;
}
    
input,
textarea {
    width: 100%;
    border: 1px solid #ebeced;
}
    
    input {
        height: 25px;
    }
    
    textarea {
        height: 200px;
    }
    
.error {
    font-size: 12px;
    color: #d84950;
}
    

/* footer */
footer {
    height: 80px;
    background-color: #3e3e3b;
    text-align: right;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    line-height: 80px;
}

/* page.html */
.page-title {
    border-bottom: 1px solid #ddd;
    padding: 20px 0 10px;
}
    
.page-text {
    padding: 20px 0 80px;
}

/* confirm.php */
.conf-form {
    background-color: #ebeced;
    padding: 30px;
}

/* send.php */
.thanks{
    background-color: #ebeced;
    padding: 80px 0;
}
    
    .thanks h4 {
        margin-bottom: 10px;
    }

/* breadcrumb */
.breadcrumbs {
    padding-top: 60px;
    background-color: #ebeced;
}
    .breadcrumbs ul {
        padding: 10px 0;
    }

    .breadcrumbs li {
        display: inline;
        font-size: 13px;
    }

    .breadcrumbs li a{
        color: #4c586f;
        font-size: 13px;
    }

    .breadcrumbs ul li::before {
        padding: 0 10px 0 0;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f105";
        font-size: 14px;
        color: #3e3e3b;
    }

/* sns */
#sns {
    background-color: #ebeced;
    padding-bottom: 80px;
}
.sns {
    width: 50%;
    margin: 0 auto;
}

/* login.html */
.login,
.register {
    width: 55%;
    margin: 0 auto;
    padding: 50px 0;
}

.login {
    background-color: #ebeced;
    border:1px solid #ebeced;
}

.register {
    border:1px solid #ebeced;
    text-align: center;
}

/* register.html */
.checkbox {
    width: auto;
}

/* regi_conf.php */
.conf-form{
    background-color: #ebeced;
    padding: 30px;
}

/* regi_end.php */
.thanks{
    background-color: #ebeced;
    text-align: center;
    padding: 50px 0;
    justify-content: center;
}

.thanks h4{
    margin-bottom: 10px;
}


/* shop */
.itemlist ul:after {
    content: "";
    clear: both;
    display: block;
}

.itemlist ul li {
    display: block;
    float: left;
    width: 30%;
    margin: 10px 0;
}

.itemlist ul li:nth-child(3n-1) {
    margin: 10px 5%;
}

.itemlist img {
    width: 100%;
}

.item-form {
    float: right;
    margin-top: 15px;
}

.item-form input{
    width: 20px;
    padding: 0 5px;
    text-align: right;
}

/* cart */
.cart-table {
    width: 100%;
    border-collapse: collapse;
}

.text-right {
    text-align: right;
}

    .cart-table th,
    .cart-table td {
        border: 1px solid #ebeced;
        vertical-align: middle;
        padding: 5px 10px;
    }

    .cart-table th {
        background-color: #4c586f;
        color: #fff;
    }

    .cart-table button {
        margin: 0;
    }

    .total td{ 
        text-align: center;
    }

    .cart-btn {
        text-align: center;
    }

/* pay */
.pay-form {
    background-color: #ebeced;
    padding: 35px 30px;
}

.form-group label {
    font-size: 13px;
}

.sm-form {
    width: 10%;
}

/* calendar.php */

.calendar-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
.calendar-table th,
.calendar-table td{
    border: 1px solid #ebeced;
    padding: 10px;
}

.calendar-table .header {
    background-color: #4c586f;
    color: #fff;
    font-size: 12px;
    text-align: left;
}

.month {
    text-align: center;
    width: 100%;
}

.month a {
    color: #4a80d6;
}

.left {
    float: left;
}

.right {
    float: right;
}

.day {
    height: 100px;
}