/* css reset */
@charset "utf-8";
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, img, a,
ol, ul, li,
form, label,
table, tbody, tfoot, thead, tr, th, td,
article,footer, header, menu, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  list-style: none;
  text-decoration: none;
  vertical-align: baseline;
}

/* 共通CSS */
html {
    font-family: sans-serif;
    min-height: 100%;
    position: relative;
}

.container {
   max-width: 1100px;
   margin: 0 auto;
   padding: 0 15px; 
}

a:hover,
.btn:hover {
    opacity: 0.6;
    cursor: pointer;
}

.btn {
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 20px;
}

.wrapper {
    width: 70%;
    padding: 80px 0 30px;
    margin: 0 auto;
}

    .wrapper-title {
        text-align: center;
        margin-bottom: 30px;
    }

    .wrapper-title p {
        color: #4c586f;
    }

    .last-wrapper {
        margin-bottom: 80px;
    }

.wrapper-body{
    text-align: center;
}
        
.news-list,
form {
    width: 80%;
    margin: 0 auto;
}
        
.btn-submit {
    background-color: #4c586f;
    color: #fff;
}

.btn-gray {
    border: 1px solid #3e3e3b;
    color: #3e3e3b;
}
    
        

/* header */
header {
    height: 60px;
    background-color: #4c586f;
    position: fixed;
    z-index: 1; 
    width: 100%;
}

    /* スマホ用メニューを非表示 */
    .sp-menu {
        display: none;
    }

    #logo {
        width: 120px;
    }

    .header-logo a{
        float:left;
        line-height: 60px;
        padding-right: 15px;
        font-size: 30px;
    }

    .header-logo a:hover{
        opacity: 1;
    }

    .menu a {
        line-height: 60px;
        color: #fff;
    }

    .menu-left a{
        float: left;
        padding-right: 15px;
    }

/* top-img */
.top-img {
    height: 600px;
    background-image: url("img/bg.png");
    background-size: cover;
    background-position: center;
    position: relative;
}

.top-text {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: #fff;
    text-align: center;
}

/* news */
.news-list li {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid;
}

    .news-list a {
        color: #3e3e3b;
    }

/* service */
.boxs {
    display: flex;
}

    .box {
        width: 50%;
        margin: 20px 10px;
        text-align: center;
    }

    .box img {
        width: 100%;
    }

/* about */
.about-table {
    text-align: left;
    width: 100%;
}

    .about-table th,td {
        padding: 10px 0;
    }
    .about-table th {
        width: 30%;
        vertical-align: top;
    }

    iframe {
        width: 100%;
    }

/* contact */
form  {
    text-align: center;
}
    
.form-group {
    margin-bottom: 20px;
    text-align: left;
}
    
input,
textarea {
    width: 100%;
    border: 1px solid #ebeced;
}
    
    input {
        height: 25px;
    }
    
    textarea {
        height: 200px;
    }
    
.error {
    font-size: 12px;
    color: #d84950;
}
    

/* footer */
footer {
    height: 80px;
    background-color: #3e3e3b;
    text-align: right;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    line-height: 80px;
}

/* page.html */
.page-title {
    border-bottom: 1px solid #ddd;
    padding: 20px 0 10px;
}
    
.page-text {
    padding: 20px 0 80px;
}

/* confirm.php */
.conf-form {
    background-color: #ebeced;
    padding: 30px;
}

/* send.php */
.thanks{
    background-color: #ebeced;
    padding: 80px 0;
}
    
    .thanks h4 {
        margin-bottom: 10px;
    }